/* style.css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 10px;
  border: 2px solid black;
}
.todo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 20px;
}

.todo-list {
  font-size: 30px;
  font-weight: bold;
  color: red;
}

.date {
  font-size: 20px;
  font-weight: bold;
  color: blue;
}

.projects-todos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  border: 2px solid green;
  padding: 10px;
}

.project-dialog {
  display: flex;
  flex-direction: row;
  gap: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  height: 100px;
  width: 300px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
}

.add-project {
  display: flex;
  justify-content: center;
  align-items: center;
}

#add-project,
#add-todo {
  padding: 8px 20px;
  font-size: 16px;
  cursor: pointer;
}

#project-name {
  flex: 1;
  padding: 8px;
  font-size: 16px;
  width: 200px;
}
